<div class="login-status-header">
  <div *ngIf="isAuthenticated && userFullName" class="login-status-user-info">
    Welcome: <span style="color: white; font-weight: bold;">{{ userFullName }}</span>
  </div>
  <button *ngIf="!isAuthenticated" class="security-btn" routerLink="/login">Login</button>
  <button *ngIf="isAuthenticated" class="security-btn" routerLink="/members">Members</button>
  <button *ngIf="isAuthenticated" class="security-btn" routerLink="/order-history">Orders</button>
  <button *ngIf="isAuthenticated" class="security-btn " (click)="logout()">Logout</button>
</div>
