<div class="main-content">
  <div class="section-content section-content-p30">
   <!-- <div *ngIf="products?.length == 0">
    <h4>Category : <span class="text-primary">{{currentCategoryName | uppercase}}</span></h4>
    <hr>
   </div> -->
    <div class="container-fluid">
      <div class="row">
        <!-- loop over the collection of products -->
        <div class="col-md-3" *ngFor="let pd of products">
          <div class="product-box">

            <a routerLink="/products/{{pd.id}}" style="text-decoration: none;">
              <img src="{{pd.imageUrl}}" alt="product-picture" class="img-responsive">
            </a>
            <h1><a routerLink="/products/{{pd.id}}" style="text-decoration: none;">{{pd.name}}</a></h1>
            <p class="price">{{pd.unitPrice | currency : "INR"}}</p>
            <p>{{pd.unitsInStock}}</p>
            <a href="#" class="primary-btn">Add to Cart</a>
          </div>
        </div>
        <!-- if product is empty then display a message -->
        <div *ngIf="products?.length == 0" class="alert alert-warning col-md-12 " role="alert">
          <p>No Products found</p>
        </div>
      </div>
      <!-- begin footer -->

      <div class="pagination-footer">
        <div class="row">
          <div class="col-md-6">

          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-9" style="padding-left: 30%;">
                <ngb-pagination [(page)]="thePageNumber" [pageSize]="thePageSize" [collectionSize]="theTotalElements" [maxSize]="5" [boundaryLinks]="true" (pageChange)="listProducts()">

                </ngb-pagination>
              </div>
              <div class="col-md-3 mt-2" style="text-align: right;">
                <span class="mr-2">Page Size </span>
                <select (change)="updatePageSize($any($event.target).value)">
                  <option value="">2</option>
                  <option selected="true">5</option>
                  <option>10</option>
                  <option>20</option>
                  <option>50</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- end footer -->
    </div>
  </div>
</div>
